@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
body{
    background-color: aqua;
}
h1{
    text-align: center;
    color: black;
}
h1{
    font-family:'Castoro Titling', cursive;
}